.button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 57px;

	background-color: $yellowColor;
	border-radius: 13px;

	transition: transform 0.3s ease 0s;

	&:active {
		transform: translateY(2px);
	}

	span {
		font-weight: 900;
		font-size: 23px;
		line-height: math.div(28, 23);

		text-transform: uppercase;

		color: #000000;
	}
	@media (min-width: 700px) and (min-height: 700px) {
		height: 90px;
		span {
			font-size: 26px;
		}
	}
}

.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;

	display: flex;
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;

	background-image: $bgMainColor;

	overflow: hidden;
	transition: all 0.3s ease 0.3s;
	&__block-acces {
		padding-top: 30px;
		padding-inline: 15px;
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		z-index: 4;
		width: 95%;
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .preloader__button

	&__button {
	}

	// .preloader__backgrounds

	&__backgrounds {
	}

	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
		transition-delay: 0;
	}
}

.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;

	max-height: 100vh;

	padding-bottom: 150px;

	overflow: auto;

	&._hide {
		display: none;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}
}

.text-pre {
	font-weight: 500;
	font-size: 14px;
	line-height: math.div(17, 14);

	color: #fff;

	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 22px;
	}

	&__title {
		text-transform: uppercase;
	}
}

.text {
	font-size: 23px;
	line-height: math.div(28, 23);

	color: #ffffff;

	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 28px;
	}
}

.title {
	font-weight: 600;
	font-size: 26px;
	line-height: math.div(31, 26);

	color: #ffffff;

	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 32px;
	}
}

//========================================================================================================================================================
.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	&._anim-icon-jump {
		animation: jump_icon 5s ease;
	}
	&._anim-icon-scale {
		animation: scale_icon 0.5s ease 2;
	}
	&._anim-icon-rotate {
		animation: rotate_icon 1.5s ease-out 1;
	}
	&._anim-icon-rotate-2 {
		animation: rotate_icon-2 1.5s ease 1;
	}
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-drct {
	display: flex;
	flex-direction: column;
}

[type="button"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
//========================================================================================================================================================
