.main {
	// .main__body

	&__body {
		position: relative;
		min-height: 100vh;
	}

	// .main__start

	&__start {
	}

	// .main__app

	&__app {
	}

	// .app-main__articles

	&__articles {
	}

	// .app-main__profile

	&__profile {
	}
}

//========================================================================================================================================================

.app-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: all 0.3s ease 0s;

	// .app-main__body

	&__body {
		position: relative;
		height: 100vh;
		max-height: 100vh;
	}

	// .app-main__tabs

	&__tabs {
	}

	// .app-main__content

	&__content {
	}

	// .app-main__inner

	&__inner {
		padding: 24px 8px;
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		@media (max-height: 700px) {
			padding-block: 30px;
		}

		@media (min-width: 700px) and (min-height: 700px) {
			padding-inline: 40px;
		}
	}

	// .app-main__home

	&__home {
	}
}

.players {
	// .players__body

	&__body {
		padding-inline: 25px;
	}

	// .players__items

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	// .players__item

	&__item {
	}
}
.item-players {
	// .item-players__body

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .item-players__image

	&__image {
		padding-bottom: calc(227 / 294) * 100%;
	}

	&__name {
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(22, 18);

		color: #ffffff;
	}

	// .item-players__descr

	&__descr {
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(17, 14);

		color: #ffffff;
	}
}

.bets {
	// .bets__body

	&__body {
		display: flex;
		flex-direction: column;

		margin-bottom: 20px;
	}

	// .bets__header

	&__header {
		margin-bottom: 22px;
	}

	// .bets__items

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-bottom: 20px;
		&._hold {
			pointer-events: none;
		}
	}

	// .bets__appointment

	&__appointment {
	}
}
.header {
	// .header__body

	&__body {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 7px;
		align-items: center;
		justify-content: space-between;

		padding-inline: 14px;
	}

	// .header__privacy

	&__privacy {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 35px;

		background-color: #252525;
		border-radius: 17.5px;

		font-weight: 400;
		font-size: 14px;
		line-height: math.div(17, 14);

		color: #ffffff;
	}

	// .header__score-box

	&__score-box {
	}
}
.score-box {
	// .score-box__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
		height: 35px;
		background: #252525;
		border-radius: 17.5px;
	}

	// .score-box__icon

	&__icon {
		width: 20px;
		height: 20px;
		background-image: url("@img/icons/coin.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .score-box__score

	&__score {
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(17, 14);

		color: #ffffff;
	}
}

.appointment {
	// .appointment__body

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		background-color: #1d1d1d;
		border-radius: 20px;

		padding: 21px 10px 17px;
	}

	// .appointment__top

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .appointment__image

	&__image {
		img {
			max-width: 117px;
		}
		// .appointment__image_1

		&_1 {
		}

		// .appointment__image_2

		&_2 {
		}
	}

	// .appointment__vs

	&__vs {
		font-weight: 200;
		font-size: 31px;
		line-height: math.div(38, 31);

		color: #ffffff;
	}

	// .appointment__buttons

	&__buttons {
		display: grid;
		grid-template-columns: repeat(3, minmax(80px, 130px));
		justify-content: center;
		column-gap: 6px;

		height: 59px;
	}

	// .appointment__button

	&__button {
		background-color: #7a7a7a;
		border-radius: 13px;

		transition: all 0.3s ease 0s;

		&._selected {
			background-color: #fff500;
		}

		span {
			font-weight: 700;
			font-size: 18px;
			line-height: math.div(22, 18);

			color: #000000;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__result {
	}
}

.result {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;

	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transform: scale(0);

	transition: all 0.3s ease 0s;

	&._visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	// .result__body

	&__body {
		display: flex;
		flex-direction: column;

		width: 100%;

		background-image: linear-gradient(180deg, #454545 0%, #1c1c1c 100%);

		padding: 28px 18px 50px;
	}

	// .result__header

	&__header {
	}

	// .result__box

	&__box {
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 15px;
	}

	// .result__text

	&__text {
		font-weight: 200;
		font-size: 31px;
		line-height: math.div(38, 31);

		color: #ffffff;
	}

	// .result__score-box

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
	}

	// .result__icon

	&__icon {
		width: 55px;
		height: 55px;
		background-image: url("@img/icons/coin.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .result__button-box

	&__button-box {
	}

	// .result__button

	&__button {
	}
}

//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff6f00;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff0800;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #f1dd2a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}
